<aside class="lyear-layout-sidebar">

  <!-- logo -->
  <div id="logo" class="sidebar-header">
    <a href="/"><img src="../static/images/log.png" title="LightYear" alt="LightYear" /></a>
  </div>
  <div class="lyear-layout-sidebar-scroll">

    <nav class="sidebar-main">
      <ul class="nav nav-drawer">
{{/*        <li class="nav-item active"> <a href="/"><i class="mdi mdi-home"></i>首页</a> </li>*/}}
        <li class="nav-item nav-item-has-subnav">
          <a href="javascript:void(0)"><i class="mdi mdi-account-multiple"></i>用户</a>
          <ul class="nav nav-subnav">
            <li> <a href="/userinfo" >用户管理</a> </li>
            <li> <a href="/adduser" >新建用户</a> </li>

          </ul>
        </li>

{{/*        <li class="nav-item nav-item-has-subnav">*/}}
{{/*          <a href="javascript:void(0)"><i class="mdi mdi-laptop"></i> ECS主机</a>*/}}
{{/*          <ul class="nav nav-subnav">*/}}
{{/*            <li> <a href="/aliasset/?regionid=cn-qingdao">阿里ecs资产_华北 1</a> </li>*/}}
{{/*            <li> <a href="/aliasset/?regionid=cn-beijing">阿里ecs资产_华北 2</a> </li>*/}}
{{/*            <li> <a href="/aliasset/?regionid=cn-zhangjiakou">阿里ecs资产_华北 3</a> </li>*/}}
{{/*            <li> <a href="/aliasset/?regionid=cn-huhehaote">阿里ecs资产_华北 5</a> </li>*/}}
{{/*            <li> <a href="/aliasset/?regionid=cn-wulanchabu">阿里ecs资产_华北 6</a> </li>*/}}
{{/*            <li> <a href="/aliasset/?regionid=cn-hangzhou">阿里ecs资产_华东 1</a> </li>*/}}
{{/*            <li> <a href="/aliasset/?regionid=cn-shanghai">阿里ecs资产_华东 2</a> </li>*/}}
{{/*            <li> <a href="/aliasset/?regionid=cn-shenzhen">阿里ecs资产_华南 1</a> </li>*/}}
{{/*            <li> <a href="/aliasset/?regionid=cn-heyuan">阿里ecs资产_华南 2</a> </li>*/}}
{{/*            <li> <a href="/aliasset/?regionid=cn-guangzhou">阿里ecs资产_华南 3</a> </li>*/}}
{{/*            <li> <a href="/aliasset/?regionid=cn-chengdu">阿里ecs资产_西南1  </a> </li>*/}}
{{/*            <li> <a href="/aliasset/?regionid=cn-hongkong">阿里ecs资产_香港  </a> </li>*/}}
{{/*            <li> <a href="/aliasset/?regionid=ap-northeast-1">阿里ecs资产_亚太东北 1 (东京)</a> </li>*/}}
{{/*            <li> <a href="/aliasset/?regionid=ap-southeast-1">阿里ecs资产_亚太东南 1 (新加坡)</a> </li>*/}}
{{/*            <li> <a href="/aliasset/?regionid=ap-southeast-2">阿里ecs资产_亚太东南 2 (悉尼)</a> </li>*/}}
{{/*            <li> <a href="/aliasset/?regionid=ap-southeast-3">阿里ecs资产_亚太东南 3 (吉隆坡)</a> </li>*/}}
{{/*            <li> <a href="/aliasset/?regionid=ap-southeast-5">阿里ecs资产_亚太东南 5 (雅加达)</a> </li>*/}}
{{/*            <li> <a href="/aliasset/?regionid=ap-south-1">阿里ecs资产_亚太南部 1 (孟买)</a> </li>*/}}
{{/*            <li> <a href="/aliasset/?regionid=us-east-1">阿里ecs资产_美国东部 1 (弗吉尼亚)</a> </li>*/}}
{{/*            <li> <a href="/aliasset/?regionid=us-west-1">阿里ecs资产_美国西部 1 (硅谷)</a> </li>*/}}
{{/*            <li> <a href="/aliasset/?regionid=eu-west-1">阿里ecs资产_英国 (伦敦)</a> </li>*/}}
{{/*            <li> <a href="/aliasset/?regionid=me-east-1">阿里ecs资产_中东东部 1 (迪拜)</a> </li>*/}}
{{/*            <li> <a href="/aliasset/?regionid=eu-central-1">阿里ecs资产_欧洲中部 1 (法兰克福)</a> </li>*/}}

{{/*          </ul>*/}}
{{/*        </li>*/}}
{{/*        <li class="nav-item nav-item-has-subnav">*/}}
{{/*          <a href="javascript:void(0)"><i class="mdi mdi-database"></i>RDS</a>*/}}
{{/*          <ul class="nav nav-subnav">*/}}
{{/*            <li> <a href="/group"></a> </li>*/}}
{{/*            <li> <a href="#"></a> </li>*/}}
{{/*            <li> <a href="#"></a> </li>*/}}
{{/*          </ul>*/}}
{{/*        </li>*/}}
{{/*        <li class="nav-item nav-item-has-subnav">*/}}
{{/*          <a href="javascript:void(0)"><i class="mdi mdi-asterisk"></i>普罗米修斯</a>*/}}
{{/*          <ul class="nav nav-subnav">*/}}
{{/*            <li> <a href="/plmxsversion">规则文件管理</a></li>*/}}
{{/*            <li> <a href="/plmxs">添加规则文件</a></li>*/}}
{{/*          </ul>*/}}
{{/*        </li>*/}}
{{/*        <li class="nav-item nav-item-has-subnav">*/}}
{{/*          <a href="javascript:void(0)"><i class="mdi mdi-tune-vertical"></i> 任务模块</a>*/}}
{{/*          <ul class="nav nav-subnav">*/}}
{{/*            <li> <a href="/sshinfo">主机记录</a> </li>*/}}
{{/*            <li> <a href="/ssh">添加连接主机</a> </li>*/}}
{{/*            <li> <a href="/sshrun">执行命令</a> </li>*/}}
{{/*            <li> <a href="/fileupload">文件上传</a> </li>*/}}
{{/*          </ul>*/}}
{{/*        </li>*/}}
        <li class="nav-item nav-item-has-subnav">
          <a href="javascript:void(0)"><i class="mdi mdi-asterisk"></i>定时任务平台</a>
          <ul class="nav nav-subnav">
            <li> <a href="/monitor">添加定时任务</a></li>
            <li> <a href="/monitorinfo">定时任务列表</a></li>
{{/*            <li> <a href="/fileupload">文件上传</a> </li>*/}}
            <li> <a href="/wsssh">web ssh</a> </li>

          </ul>
        </li>
      </ul>
    </nav>

    <div class="sidebar-footer">
    </div>
  </div>

</aside>

