<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>添加主机</title>
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="../static/css/style.min.css" rel="stylesheet">
  <script src="../static/js/lib/jquery-3.3.1.min.js"></script>
  <script src="../static/js/lib/jquery.url.js"></script>
  <script src="../static/js/ssh.js"></script>
</head>

<body>
<div class="lyear-layout-web">
  <div class="lyear-layout-container">
    {{template "block/nav.html" .}}
    {{template "block/header.html" .}}

    <main class="lyear-layout-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">

              <div class="card-header"><h4>添加连接主机</h4></div>
              <div class="card-body">
                  <form  method="post" id="addssh" novalidate>

                  <p id="editid" value="" hidden="hidden" name="editid"></p>
                  <div class="form-group">
                    <label for="">主机地址</label>
                    <input class="form-control" type="text"  name="hostname" placeholder="请输入主机地址..">
                  </div>

                  <div class="form-group">
                    <label for="">用户名</label>
                    <input class="form-control" type="text"  name="username" placeholder="请输用户名..">
                  </div>

                  <div class="form-group">
                    <label for="">密码</label>
                    <input class="form-control" type="text"  name="password" placeholder="请输密码..">
                  </div>

                  <div class="form-group">
                    <label for="">端口号</label>
                    <input class="form-control" type="text" name="port" placeholder="请输端口号..">
                  </div>

                  <div class="form-group">
                    <label>公钥文件</label>
                    <textarea class="form-control"  name="publcikey" rows="5" value="" placeholder="请添加公钥文件"></textarea>
                  </div>

                  <div class="form-group">
                    <label>公钥文件示例</label>
                    <P>-----BEGIN RSA PRIVATE KEY-----
                      MIIEpQIBAAKCAQEAr/W8zVVZw1lnMFATxsitk0/uQyVbZCZo3sX8B4kPVaUt3npz
                      MOET4UC7E4mqbJau3BInxhIOD8sK5BkVZZNpK37Nvyt1eAv77/AnqlR6m6+sIkjH
                      zEN/beGxAs+P3SMxzrNGqzJSufXw/82JRfSxUe2H8wQtc2iCP/QZ/Nxnp5wiSLey
                      idCR0YVyXr6hDUy2Xqprjz/5jGiMwm7CF1Z1PF64RYHcXpkijBRdzd9s8KlI4kGv
                      iYtkifnOZyY3d/GRLQ2bOACenjErSE3hAvdAOKtsJi3FYTuhH0EZdSjwoN7uxnVE
                      QtXTuwuq5/t9ZXg7ylZtIKdj7ACSs49PZ+fEswIDAQABAoIBAQClaTTbMej4IwtF
                      94Ef1XaWjQVGSc/oDdN32FZcHxQzRtwf0KyIvo2ZqugyLa/v9JbcepS5Ni/R2OWc
                      F5htrG2pXcK8e3YqK9nibLhc/p1jzXjbod9wveMEwK1OHyD2mScxUIaWWPA7sF+l
                      mOn6wVQP2GN8p+iyHQSUajwj4G3wuN6ncYfVGDZAD9kFH+Xc1fg52ByzJya5jbTA
                      rjlhr7V0upfusjkC/8WkrYl3b25vS4e1e0hAodOYPaxPFDMuPbnBVWwomOqnjwoA
                      Y6dIAC1tVs1YR7+eOThF5Xn/sBBLOGZIrj6sNMe7ImDtrAaSjNNpYwqv3pK7AVSv
                      AyyjnOCBAoGBAM3Jo3D/rXS/OIFr8GklCUjgEr5J0+Lk6ZWEhQfSiRc8izLIfXp1
                      6vAMM/ntH1sf0LQjCEXzAUUsmtgmzBhMNn/XOBvY3vajHuVrX8tu2XSWbJ5nnGQO
                      d1rKGILBoyoO2WrftRaBkreOF11Gbm76MQZxJtEZYOsDgyRUMHzZxdxbAoGBANrk
                      7uT/lR8IGl/9o4XO0ScFdKU2g3u92YZ0+7yHlOzS2VpNEpQETTn16D46EafHGQrR
                      5OLoG5tquqitUZGuTaI1sSQHlUKF2fyqYMWmCUupJGXmGvATIx8ku9Hic8qlRBrA
                      RTe3rInow+sqsE8U3fAlIn66z/xGlRnebG/MBgiJAoGAR75EfOCmWE1SJcy7w+xl
                      kEKORkj21eN4i+fneRKtOKyi2tGK7WauwYF/nWJNzDcLS8Hq4HgXuUYTtcfQ36ey
                      WF9v8EVrdhDodJM6knHS3hKTS6ZTn45rjftnEC7x83e51MipGW+S9utSufIUDhyr
                      etN39O4kG8rdrYysWtqRYIECgYEA1vn31VddsPhYTuXfb07LArPM92UuhJzTwcWq
                      ZmIR1PTPGmyPTmdbIQ1tZY/KPyi+Y234iRDD7ENJxtdRQO4auLBapLP91zN1/zul
                      hvemMXSQlrMCyb1BxRhijaMFbYQZ+tvSHwJ4pYjAwXlPZptrzKnr0uLN2UnIrXtQ
                      rAuH8WECgYEAxcZBEscxd9Qy4GkH1J+A1mYRXRWzgxZlwsQ3R9+McH0Qb8k4qWRm
                      HxxY2PmLBuuL5HQ7RoD1l+F/TIirv2AKbw5Iu0imuitvkz46Jr5nh3JFKWkVx6wh
                      32KpnY1glN+iobXN1l50bhDhNWmIrDB+ef577SWfPXsT87HWS2NYV3o=
                      -----END RSA PRIVATE KEY-----</P>

                  </div>
                  <div class="form-group">
                    <button class="btn btn-primary" type="submit" name="mkdir" >创建</button>
                    <a class="btn btn-info" href="/sshinfo">返回</a>

                  </div>
                  <div class="form-group">
                    <pre class="content" id="alert"></pre>
                  </div>
                  </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/perfect-scrollbar.min.js"></script>
    <script type="text/javascript" src="../static/js/main.min.js"></script>
    <script type="text/javascript" src="../static/js/Chart.js"></script>

</body>
</html>